@charset "UTF-8";

body {
    background-color: #04261E;
    font-family: Verdana, Geneva, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6,p,li {
    margin-left: 15px;
    margin-top: 0px;
} 


#wrapper {
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2EDD5;
}

#right-column {
    float: none;
    height: 600px;
    background-color: #F26716;
}

#left-column {
    float: none;
    height: 120px;
}

#footer {
    height: 80px;
    background-color: #04261E;
}

#banner {
    height: 60px;
    background-color: #04261E;
}

.box {
    width: 45%;
    min-height: 120px;
    float: left;
    background-color: #04261E;
    margin: 15px;
    opacity: 1;
}

.button {
    font-size: x-large;
    text-decoration: none;
    background-color: #E7390D;
    display: block;
    width: 25%;
    float: left;
    padding: 8px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 3px #084A24;
}

.button:hover {
    box-shadow: 5px 5px 3px #04261E;
}

.clear {
    clear: both;
}

#profile {
    height: 32px;
    float:left
}

#about-me-photo {
  height: 128px; 
}